<h1>Teacher Book</h1>
<p>Login to view and update your list of parents.</p>

<%= form_tag do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "login" %>
<% end %>
