<!DOCTYPE html>
<html>
<head>
  <title>Teacherbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <div>
    <% if session[:user_id] %>
      <% teacher = Teacher.find(session[:user_id]) %>
      Hello Teacher <%= teacher.last_name %>
      <%= link_to "Logout", sessions_logout_path  %>
      <%= link_to "Update Email", teachers_update_email_path  %>
      <%= link_to "Change Password", teachers_update_password_path %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
